@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Yekan;
        src: url(components/data/fonts/Yekan.ttf);
    }
}

@layer utilities {
    .header_cart_component {
        @apply hidden md:block relative rounded-full px-8 pt-2 pb-4 bg-lime-600 cursor-pointer;
    };

    .header_cart_component:hover .header_bill_tooth {
        @apply translate-y-0
    }

    .header_bill_tooth {
        @apply flex justify-between bg-white text-sm px-2 pt-1 pb-3 -translate-y-7 duration-200;
        clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%, 5% 90%, 10% 100%, 15% 90%, 20% 100%, 25% 90%, 30% 100%, 35% 90%, 40% 100%, 45% 90%, 50% 100%, 55% 90%, 60% 100%, 65% 90%, 70% 100%, 75% 90%, 80% 100%, 85% 90%, 90% 100%, 95% 90%, 100% 100%);  
    }

    .header_ul {
        @apply flex flex-col-reverse md:flex-row md:mr-4 lg:mr-10 duration-700 mt-4 md:mt-0
    }

    .header_ul li {
        @apply my-2 md:my-0 md:mx-3 lg:mx-4 border-b-2 border-transparent duration-200 text-lg text-right
    }

    .header_ul li:hover {
        @apply border-white
    }

    .footer {
        @apply absolute bottom-0 left-0 w-full py-2 flex justify-center bg-red-700
    }

    .footer svg {
        @apply mx-4 h-auto w-6 md:w-8 cursor-pointer duration-200 text-white hover:text-yellow-300
    }
}
